<?xml version="1.0" encoding="UTF-8"?>
<web-app>
	<servlet>
		<servlet-name>ArticleSearch</servlet-name>
		<servlet-class>team.awesome.ArticleSearch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>ArticleSearch</servlet-name>
		<url-pattern>/search</url-pattern>
	</servlet-mapping>
</web-app>